<div class="container">
    <br />
    <h1>Pipes</h1>
    <hr />
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Variable</th>
                <th scope="col">Pipe</th>
                <th scope="col">Producto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ name }}</td>
                <td>uppercase</td>
                <td>{{ name | uppercase }}</td>
            </tr>
            <tr>
                <td>{{ name }}</td>
                <td>lowercase</td>
                <td>{{ name | lowercase }}</td>
            </tr>
            <tr>
                <td>{{ name }}</td>
                <td>slice:3</td>
                <td>{{ name | slice: 3 }}</td>
            </tr>
            <tr>
                <td>{{ name }}</td>
                <td>slice:0:3</td>
                <td>{{ name | slice: 0:3 }}</td>
            </tr>
            <tr>
                <td>{{ arr }}</td>
                <td>slice:1:5</td>
                <td>{{ arr | slice: 1:5 }}</td>
            </tr>
            <tr>
                <td>{{ PI }}</td>
                <td>number : "1.0-2"</td>
                <td>{{ PI | number: "1.0-2" }}</td>
            </tr>
            <tr>
                <td>{{ PI }}</td>
                <td>percent</td>
                <td>{{ PI | percent }}</td>
            </tr>
            <tr>
                <td>{{ PI }}</td>
                <td>percent:"2.2-2"</td>
                <td>{{ PI | percent: "2.2-2" }}</td>
            </tr>
            <tr>
                <td>{{ salary }}</td>
                <td>currency:"EUR":true:"4.0-0"</td>
                <td>{{ salary | currency: "EUR":true:"4.0-0" }}</td>
            </tr>
            <tr>
                <td>JSON</td>
                <td>json</td>
                <td>**</td>
            </tr>
        </tbody>
    </table>
    <h4>** JSON</h4>
    <pre>
      {{ game | json }}
    </pre
  >
</div>